<div>
  <link href="./backgroud.css" rel="stylesheet" />
  <div class="backgroud-backgroud">
    <img
      alt="image"
      src="https://play.teleporthq.io/static/svg/default-img.svg"
      loading="lazy"
      class="backgroud-backgroudimage"
    />
    <img
      alt="image"
      src="https://play.teleporthq.io/static/svg/default-img.svg"
      loading="lazy"
      class="backgroud-mainimage"
    />
    <div class="backgroud-container"></div>
    <img
      alt="image"
      src="https://play.teleporthq.io/static/svg/default-img.svg"
      loading="lazy"
      class="backgroud-altimage"
    />
    <div class="backgroud-container1">
      <div class="component1-container">
        <p class="margin-right-4 rounded-5 px-4 p-tag bg-purple">
          <span>กิจกรรม</span>
        </p>
      </div>
      <img
        alt="image"
        src="public/ongoing.svg"
        loading="eager"
        class="backgroud-image margin-right-4"
      />
      <p class="n-tag backgroud-text"><span>N</span></p>
    </div>
  </div>
</div>
