.container-container {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  overflow: auto;
  position: relative;
  margin-top: var(--dl-space-space-halfunit);
  align-items: flex-start;
}
@media(max-width: 479px) {
  .container-container {
    height: 46px;
    margin-bottom: var(--dl-space-space-unit);
  }
  .container-ul {
    height: 100%;
  }
  .container-li {
    color: var(--dl-color-gray-black);
    width: auto;
    text-align: center;
    background-color: var(--dl-color-gray-white);
  }
  .container-li1 {
    width: auto;
    text-align: center;
  }
  .container-li2 {
    color: var(--dl-color-gray-black);
    background-color: var(--dl-color-gray-white);
  }
}
