<div>
  <link href="./container.css" rel="stylesheet" />
  <div class="container-container">
    <ul class="list container-ul">
      <li class="list-item container-li">
        <span><span>Ongoing</span></span>
      </li>
      <li class="list-item container-li1">
        <span><span>Ongoing</span></span>
      </li>
      <li class="list-item">
        <span>
          <span>Completed</span>
          <br />
        </span>
      </li>
      <li class="list-item container-li2">
        <span>
          <span>Completed</span>
          <br />
        </span>
      </li>
    </ul>
  </div>
</div>
